
:root {
  --nutmeg: hsl(14, 45%, 36%);
  --dark-raspberry: hsl(332, 51%, 32%);

  --white: hsl(0, 0%, 100%);
  --rose-white: hsl(330, 100%, 98%);
  --eggshell: hsl(30, 54%, 90%);
  --light-grey: hsl(30, 18%, 87%);
  --wenge-brown: hsl(30, 10%, 34%);
  --dark-charcoal: hsl(24, 5%, 18%);
}

body {
  margin: 0;
  background-color: var(--white);
}

p,
ul,
ol,
dl {
  font-family: "Outfit", sans-serif;
  color: var(--wenge-brown);
  font-size: 0.93rem;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h1,
h2,
p,
dd {
  margin: 0;
}

.main-container {
  max-width: 100vw;
}

.text-container {
  padding: 0rem 2rem;
}

h1 {
  color: var(--dark-charcoal);
  font-size: 2.1rem;
  line-height: 1;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
}

.prep-time-container {
  
  background-color: var(--rose-white);
  padding: 0.5rem 0rem;

  margin-top: 1.5rem;
  margin-bottom: 1.8rem;
  border-radius: 0.5rem;
}

.prep-time-title {
  color: var(--dark-raspberry);
  font-size: 1.1rem;
  padding-top: 0.5rem;
  padding-left: 1.5rem;
}

.prep-time-list li::marker {
  color: var(--dark-raspberry);
  font-size: 0.75rem;
}

.prep-time-list li {
  line-height: 1.3;
  padding-left: 1.3rem;
  max-width: 23ch;  /* change for bigger screen sizes */
  margin-bottom: 0.5rem;
}

.ingredients-title,
.instructions-title,
.nutrition-title {
  color: var(--nutmeg);
  margin-bottom: 1.2rem;
}

.ingredients-list {
  padding-left: 1rem;
}

.ingredients-list li::marker {
  color: var(--nutmeg);
  font-size: 0.75rem;
  padding: 0;
}

.ingredients-list li {
  padding-left: 1.1rem;
  line-height: 1.4;
  margin-bottom: 0.4rem;
}

.ingredients-list li:last-child {
  margin-bottom: 1.65rem;
}

ul li > span {
  display: inline-block;
  vertical-align: middle;
}

hr {
  border: 0.5px solid var(--light-grey);
}

.instructions-title {
  margin-top: 1.65rem;

}

.instructions-list {
  padding-left: 1.4rem;
}

.instructions-list li::marker {
  color: var(--nutmeg);
  font-weight: 700;
  /* font is different (look at the first list) */
}

.instructions-list li {
  padding-left: 0.75rem;
  max-width: 27ch; /* change for bigger screen sizes */
  margin-bottom: 0.4rem;
}

.instructions-list li:last-child {
  margin-bottom: 1.6em;
}

.nutrition-title {
  margin-top: 1.5rem;
}

.nutrition-description {
  max-width: 28ch; /* change for bigger screen sizes */
}

table {
  /* border-collapse: collapse; */
  width: 100%;
}

th {
  width: 38%;
}

@media (max-width: 20.875rem){
  .recipe-title-container br {
    display: none;
  }
}

@media (min-width: 23.5rem) {

  body {
    background-color: var(--eggshell);
    display: flex;
    justify-content: center;
  }

  .main-container {
    background-color: var(--white);
    max-width: 45rem;
    padding: 2.3rem;
    margin: 8rem 0rem;
    border-radius: 1rem;
  }

  .text-container {
    padding: 0;
  }

  .img {
    border-radius: 0.5rem;
  }

  h1 {
    font-size: 2.45rem;
  }

  p,
  ol,
  ul,
  dl {
    font-size: 1rem;
  }

  .recipe-description {
    max-width: 63ch;
  }

  .recipe-title-container br {
    display: none;
  }

  .prep-time-container {
    margin: 2rem 0rem;
  }

  .prep-time-list li {
    max-width: 25ch;
  }

  .instructions-list li {
    max-width: 58ch;
  }

  .instructions-title {
    margin-bottom: 1.4rem;
  }

  .nutrition-title {
    margin-top: 1.7rem;
    margin-bottom: 1.3rem;
  }

  .nutrition-description {
    max-width: 55ch;
  }

}